<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <style>
        * {
            font-family: "Ubuntu", sans-serif;
        }
        a[href] {
            background-color: blueviolet;
            border-radius: 5%;
            color: antiquewhite;
        }
    </style>
</head>
<body>
    <h3><a href="./index.html" style="text-decoration:none">index</a> <a href="./notes.html" style="text-decoration:none">page1</a></h3>
    <h1>{{{ title }}}</h1>
    {{{ contents }}}
</body>
</html>