<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./baseMDStyle.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="row" style="position: absolute; margin-top: -8vh;">
        <button type="button" class="btn btn-lg"><a href="./index.html" style="text-decoration:none; color:antiquewhite">Index</a></button>
        <button type="button" class="btn btn-lg"><a href="./notes.html" style="text-decoration:none; color:antiquewhite">Notes</a></button>
        <button type="button" class="btn btn-lg"><a href="./blog.html" style="text-decoration:none; color:antiquewhite">Blog</a></button>
        <button type="button" class="btn btn-lg"><a href="./designs.html" style="text-decoration:none; color:antiquewhite">Train Maps</a></button>
        <button type="button" class="btn btn-lg"><a href="./banddesigns.html" style="text-decoration:none; color:antiquewhite">Band Designs</a></button>
        <button type="button" class="btn btn-lg"><a href="https://saltyschnauzer.github.io/evilwebsite/" style="text-decoration:none; color:antiquewhite">Other Goober Site</a></button>
    </div>
    <div>
        <h1 class="text-center">{{{ title }}}</h1>
        <br><br><br>
        <div style="text-decoration: none;">{{{ contents }}}</div>
    </div>
</body>
</html>