<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <style></style>
</head>
<body>
    <h3><a href="./index.html" style="display: none">index</a> <a href="./page1.html">page1</a></h3>
    <h1>{{{ title }}}</h1>
    {{{ contents }}}
</body>
</html>