html {
    font-family: "Ubuntu Mono", monospace;
    margin: 2%;
    background-color: rgb(31, 36, 37);
    margin: 4%;
    margin-top: 1%;
}
body {
    font-family: "Ubuntu Mono", monospace;
    background-color: rgb(31, 36, 37);
    color: orange;
}
div.content {
    position:fixed;
}
h1 {
    font-weight: bold;
    margin-top: 3%;
    font-size: 300%;
}
a {
    color: rgb(150, 131, 168) !important;
    transition: 0.25s !important;
    font-size: larger !important;
}
a.navbar-brand{
    font-size:x-large !important;
    font-weight: bold;
}
nav{
    background-color:  rgb(31, 36, 37) !important;
}
a:hover {
    cursor: grab !important;
    color: rgb(185, 173, 197) !important;
    rotate: 7.5deg !important;
}
img {
    width: 80vh;
}
div{
    font-weight: bold; 
    font-size: larger;
}
div.downMore {
    text-align: center;
    font-size: medium;
    position: sticky;
    bottom: 3vh;
    left: 95vw;
    width: 5.5vw;;
    margin: 2vh;
    background-color: orange;
    color: black;
    border-radius: 1dvw;
}